.detail-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.detail-modal-content h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: black;
}

.todo-details {
  margin-top: 15px;
  font-size: 1rem;
  color: black;
  padding: 10px;
  background-color: #f9f9f9;
  display: flex;
  gap: 5px;
}

.detail-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.sub-tasks-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.sub-tasks-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sub-tasks-list li {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 1rem;
  gap: 5px;
  color: black;
  background-color: #f9f9f9;
}

.sub-tasks-list[type="checkbox"] {
  margin-right: 10px;
}

.sub-tasks-list li span {
  font-size: 1em;
  color: black;
  transition: color 0.3s, text-decoration 0.3s;
}

.sub-tasks-list li.completed span {
  text-decoration: line-through;
  color: gray;
}

.sub-task-input-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.sub-task-input {
  flex: 1;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;

  margin-right: 10px;
}

.add-sub-task-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
