.detail-button {
  background-color: transparent;
  border: none;
  padding: 8px 12px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: none;
}

.delete-button {
  background-color: transparent;
  border: none;
  padding: 8px 12px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.created-at {
  font-size: 0.9em;
  color: gray;
  display: block;
  margin-top: 5px;
}
